<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<div class='container-fluid'>
  <div class="row outerDiv">
    <div class="col-xs-3 col-md-2 imageDiv d-none d-lg-block">
      <img class="img-responsive" style="margin-top: 100%" id="swoosh" src="../Assets/images/sideimagel.png">
    </div>
    <div class="col">
      <main class="container">
        <div style="text-align:center;">

          <div class="container">
            <h1 class="fill fw-bold" style="text-align:center; color: rgb(86, 117, 180);">Team Members </h1>
            <div class="groupRow">
              <div class="column">
                <img src="../Assets/images/profilepic.png" width="250" height="250">
                <p><br><b></b>Gayathri Srikanti<br> Project Manager</p>
              </div>
              <div class="column">
                <img src="../Assets/images/boy.jpg" width="250" height="250">
                <p><br><b>Panth Patel</b> <br> Lead Software Engineer</p>
              </div>
              <div class="column">
                <img src="../Assets/images/profilepic.png" width="250" height="250">
                <p><br><b>Rincy Kuriakose </b> <br> Web Designer</p>
              </div>
            </div>
            <div class="groupRow">
            </div>
            <div class="groupRow">
              <div class="column">
                <img src="../Assets/images/profilepic.png" width="250" height="250">
                <p><br><b>Rajabifard, Mona</b> <br> Database Programmer</p>
              </div>
              <div class="column">
                <img src="../Assets/images/boy.jpg" width="250" height="250">
                <p><br><b>Egor Shabalkin </b> <br> Security Programmer</p>
              </div>
              <div class="column">
                <img src="../Assets/images/profilepic.png" width="250" height="250">
                <p><br><b>Villota Santamaria, Katya</b> <br> UI Programmer</p>
              </div>
              <div class="column">
                <img src="../Assets/images/profilepic.png" width="250" height="250">
                <p><br><b>Ong Oh, Julia Mari</b> <br> UI Programmer</p>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    

</div>


<%- include('partials/bottom_nav'); -%>
  <%- include('partials/footer'); -%>