<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<div class='container-fluid'>
  <div class="row outerDiv">
    <div class="col-xs-3 col-md-2 imageDiv d-none d-lg-block" >
       <img class="img-responsive" style="margin-top: 100%" id="swoosh" src="../Assets/images/sideimagel.png">
    </div>
    <div class="col">
            <h1 class="fill fw-bold" style="text-align:center; color: rgb(61, 88, 209);">
                COMP229 Web Application Development <br/>
                Group: 06<br/>
                Project Title: Survey Web Application
            </h1>
            <br/><br/>
            
            <table style="text-align: left;color: rgb(59, 79, 158);">
                <tbody>
                    <tr>
                        <th>Short Description:</th>
                        <td>&nbsp;&nbsp;&nbsp;This is Online survey web application for COMP229. In this web application user can register, login and create survey. User can also submit survey.</td>
                     </tr>
                    <tr>
                        <th>No of members:</th>
                        <td>&nbsp;&nbsp;&nbsp;06</td>
                    </tr>
                    <tr>
                        <th>Technologies:</th>
                        <td>&nbsp;&nbsp;&nbsp;Nodejs, React, CSS, JavaScript and various packages</td>
                    </tr>
                    <tr>
                        <th>Database:</th>
                        <td>&nbsp;&nbsp;&nbsp;MongoDB</td>
                    </tr>
                    <tr>
                        <th>Database Server:</th>
                        <td>&nbsp;&nbsp;&nbsp;https://www.mongodb.com/cloud/atlas</td>
                    </tr>
                    <tr>
                        <th>Cloud Deployment:</th>
                        <td>&nbsp;&nbsp;&nbsp;https://www.heroku.com</td>
                    </tr>
                    <tr>
                        <th>Source Code:</th>
                        <td>&nbsp;&nbsp;&nbsp;https://github.com/sarabuntohura/comp229-group-project</td>
                    </tr>
                    <tr>
                        <th>Live URL:</th>
                        <td>&nbsp;&nbsp;&nbsp;https://comp229-group6-survey.herokuapp.com/</td>
                    </tr>
                </tbody>
                <tr>
                    <h4>Click here  for more details </h4>
                    <a href='./Assets/part2.pdf' target="_blank"> Click here</a> 
                  </div>  
                </tr>
             </table>
        </div>
      </div>
  </main>
  </div>
  
  </div>
  </div>


<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
